.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}


.title{
  text-align: center;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.title h1{
  margin-bottom: 1rem;
}
.title p{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -3rem;
}
.title img{
  width: 120px;
}

.text-xl{
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width:850px){
  .App{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      
  }
  .title h1{
    margin-bottom: 20px;
  }
  .title p{
    margin-bottom: 60px;
  }
  .title img{

  }
  .time{
    /* margin-right: 6rem; */
    margin-top: -6rem;
    margin-bottom: 3rem;
  }
}